### Import Data

In [1]:
import pandas as pd

In [7]:
players_path = '../../Chapter 5. 축구선수 이적시장 분석/Data/players.csv'
players_valuation_path = '../../Chapter 5. 축구선수 이적시장 분석/Data/player_valuations.csv'

players = pd.read_csv(players_path)
players_valuation = pd.read_csv(players_valuation_path)

### Dataset Information

In [8]:
print(players.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28476 entries, 0 to 28475
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             28476 non-null  int64
 1   first_name                            26627 non-null  object
 2   last_name                             28476 non-null  object
 3   name                                  28476 non-null  object
 4   last_season                           28476 non-null  int64
 5   current_club_id                       28476 non-null  int64
 6   player_code                           28476 non-null  object
 7   country_of_birth                      26684 non-null  object
 8   city_of_birth                         26694 non-null  object
 9   country_of_citizenship                28475 non-null  object
 10  date_of_birth                         28434 non-null  object
 11  sub_position                          28317 non-null  object
 12  position                              28476 non-null  object
 13  foot                                  26401 non-null  object
 14  height_in_cm                          26758 non-null  float64
 15  market_value_in_eur                   17982 non-null  float64
 16  highest_market_value_in_eur           27481 non-null  float64
 17  contract_expiration_date              17975 non-null  object
 18  agent_name                            13992 non-null  object
 19  image_url                             28476 non-null  object
 20  url                                   28476 non-null  object
 21  current_club_domestic_competition_id  28476 non-null  object
 22  current_club_name                     28476 non-null  object
dtypes: float64(3), int64(3), object(17)
memory usage: 5.0+ MB
None

In [9]:
print(players_valuation.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430460 entries, 0 to 430459
Data columns (total 9 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            430460 non-null  int64
 1   last_season                          430460 non-null  int64
 2   datetime                             430460 non-null  object
 3   date                                 430460 non-null  object
 4   dateweek                             430460 non-null  object
 5   market_value_in_eur                  430460 non-null  int64
 6   n                                    430460 non-null  int64
 7   current_club_id                      430460 non-null  int64
 8   player_club_domestic_competition_id  430460 non-null  object
dtypes: int64(5), object(4)
memory usage: 29.6+ MB
None

In [12]:
display(players.head())
display(players_valuation.head())

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
0,597,Aleksandr,Hleb,Aleksandr Hleb,2016,2696,aleksandr-hleb,UdSSR,Minsk,Belarus,...,NaN,NaN,NaN,19000000.0,NaN,fair-sport GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/aleksandr-hleb...,RU1,Krylya Sovetov Samara
1,1428,Mike,Hanke,Mike Hanke,2013,60,mike-hanke,Germany,Hamm,Germany,...,right,185.0,NaN,5000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/mike-hanke/pro...,L1,SC Freiburg
2,1560,Youssef,El Akchaoui,Youssef El Akchaoui,2012,306,youssef-el-akchaoui,Netherlands,Dordrecht,Morocco,...,NaN,NaN,NaN,1750000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/youssef-el-akc...,NL1,SC Heerenveen
3,1587,Mario,Eggimann,Mario Eggimann,2012,42,mario-eggimann,Switzerland,Brugg,Switzerland,...,right,190.0,NaN,3000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/mario-eggimann...,L1,Hannover 96
4,1726,Heiko,Westermann,Heiko Westermann,2016,610,heiko-westermann,Germany,Alzenau,Germany,...,right,190.0,NaN,9000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/heiko-westerma...,NL1,Ajax Amsterdam

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id
0,3132,2013,2003-12-09 00:00:00,2003-12-09,2003-12-08,400000,1,126,TR1
1,6893,2012,2003-12-15 00:00:00,2003-12-15,2003-12-15,900000,1,984,GB1
2,10,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,7000000,1,398,IT1
3,26,2017,2004-10-04 00:00:00,2004-10-04,2004-10-04,1500000,1,16,L1
4,65,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,8000000,1,1091,GR1

In [14]:
print(players.columns)
print(players_valuation.columns)

Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'current_club_id', 'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'height_in_cm', 'market_value_in_eur',
       'highest_market_value_in_eur', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name'],
      dtype='object')
Index(['player_id', 'last_season', 'datetime', 'date', 'dateweek',
       'market_value_in_eur', 'n', 'current_club_id',
       'player_club_domestic_competition_id'],
      dtype='object')

In [15]:
columns = ['player_id', 'first_name', 'last_name', 'name', 'last_season', 'current_club_id', 'player_code', 'country_of_birth', 'city_of_birth', 'country_of_citizenship', 'date_of_birth', 'sub_position', 'position']
players = players[columns]

In [18]:
print(players.isna().sum(), '\n')
print(players_valuation.isna().sum())

player_id                    0
first_name                1849
last_name                    0
name                         0
last_season                  0
current_club_id              0
player_code                  0
country_of_birth          1792
city_of_birth             1782
country_of_citizenship       1
date_of_birth               42
sub_position               159
position                     0
dtype: int64

player_id                              0
last_season                            0
datetime                               0
date                                   0
dateweek                               0
market_value_in_eur                    0
n                                      0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64

In [19]:
players[players['country_of_citizenship'].isna()]

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,date_of_birth,sub_position,position
21764,345068,Abdullah,Karakoc,Abdullah Karakoc,2014,3216,abdullah-karakoc,Germany,Köln,NaN,NaN,Centre-Back,Defender

In [21]:
players[players['date_of_birth'].isna()].head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,date_of_birth,sub_position,position
3,1587,Mario,Eggimann,Mario Eggimann,2012,42,mario-eggimann,Switzerland,Brugg,Switzerland,NaN,Centre-Back,Defender
17,3942,Martin,Lanig,Martin Lanig,2014,24,martin-lanig,Germany,Bad Mergentheim,Germany,NaN,Defensive Midfield,Midfield
2068,58124,Julian,Schieber,Julian Schieber,2020,167,julian-schieber,Germany,Backnang,Germany,NaN,Centre-Forward,Attack
2152,83188,Marc,Lais,Marc Lais,2012,60,marc-lais,Germany,Freiburg im Breisgau,Germany,NaN,Defensive Midfield,Midfield
2236,116272,Benedikt,Röcker,Benedikt Röcker,2018,206,benedikt-rocker,Germany,Bietigheim-Bissingen,Germany,NaN,Centre-Back,Defender

In [22]:
players.dropna(inplace = True)
print(players.isna().sum())

player_id                 0
first_name                0
last_name                 0
name                      0
last_season               0
current_club_id           0
player_code               0
country_of_birth          0
city_of_birth             0
country_of_citizenship    0
date_of_birth             0
sub_position              0
position                  0
dtype: int64